openapi: 3.0.0
info:
  title: Clio API Documentation
  contact:
    name: Clio API Support
    email: api@clio.com
  description: "# Developer Support and Feedback\n* Clio takes the availability and\
    \ stability of our API seriously; please report any **degradations** or **breakages**\
    \ to Clio's API Support team at [api@clio.com](mailto:api@clio.com).\n* For business\
    \ and partnership inquiries, contact our API Partnerships team at [api.partnerships@clio.com](mailto:api.partnerships@clio.com).\n\
    * For best practices and tips from the Clio development community, join the conversation\
    \ in the [Clio Developer Slack Channel](https://join.slack.com/t/clio-public/shared_invite/zt-1bd5nfbiv-WloZR3ZjepoUTv28SI1ezw).\n\
    \nA community-driven [Clio Developers Stack Overflow Group](https://stackoverflow.com/questions/tagged/clio-api)\
    \ also exists where you can connect and ask questions from other Clio API users.\n\
    # Getting Started\n> **Note:** The API is available in four distinct data regions:\
    \ Australia (au.app.clio.com), Canada (ca.app.clio.com), EU (eu.app.clio.com)\
    \ and US (app.clio.com).\n>\n> Likewise, the developer portal is available at\
    \ region-specific links for the [Australia](https://au.developers.clio.com), [Canada](https://ca.developers.clio.com),\
    \ [EU](https://eu.developers.clio.com), and [US](https://developers.clio.com)\
    \ regions.\n>\n> This document assumes the US region is being used (app.clio.com).\
    \ If you're building in one of the other regions, you should adapt the links and\
    \ examples as necessary.\n\nTo start building on the Clio API, you\u2019ll need\
    \ a Clio account \u2013\_you can review our [Developer Handbook](https://docs.developers.clio.com/)\
    \ and follow the steps to sign up for an account.\n\nOnce you have an account,\
    \ you can [create a developer application](https://docs.developers.clio.com/api-docs/applications)\
    \ from the [Developer Portal](https://developers.clio.com) and start building!\n\
    # Authorization with OAuth 2.0\nSee our [Authorization documentation \u2192](https://docs.developers.clio.com/api-docs/authorization)\n\
    # Permissions\nSee our [Permissions documentation \u2192](https://docs.developers.clio.com/api-docs/permissions)\n\
    # Fields\nSee our [Fields documentation \u2192](https://docs.developers.clio.com/api-docs/fields)\n\
    # Rate Limiting\nSee our [Rate Limits documentation \u2192](https://docs.developers.clio.com/api-docs/rate-limits)\n\
    # Paging\nSee our [Pagination documentation \u2192](https://docs.developers.clio.com/api-docs/paging)\n\
    # ETags\nSee our [ETags documentation \u2192](https://docs.developers.clio.com/api-docs/etags)\n\
    # Minor Versions\nAPI v4 supports multiple minor versions. Versions are of the\
    \ form '4.X.Y'. To request a specific version, you can use an `X-API-VERSION`\
    \ header in your request, with the header value set to the API version you're\
    \ requesting. If this header is omitted, it will be treated as a request for the\
    \ default API version. If the header is present but invalid, it will return a\
    \ `410 Gone` response. If the header is present and valid, but it is no longer\
    \ supported, it will return a `410 Gone` response.\n\nAn `X-API-VERSION` will\
    \ be included in all successful responses, with the value being set to the API\
    \ version used.\n\nYou can find our [API Versioning Policy and Guidelines](https://docs.developers.clio.com/api-docs/api-versioning-policy)\
    \ in our documentation hub.\n\nThe [API Changelog](https://docs.developers.clio.com/api-docs/api-changelog)\
    \ explains each version's changes in further detail.\n- 4.0.4\n\n  Update `quantity`\
    \ field to return values in seconds rather than hours for Activities\n\n- 4.0.5\n\
    \n  * Remove `matter_balances` field from Bills\n  * Standardize status/state\
    \ enum values\n  * Add a Document association to completed DocumentAutomations\n\
    \  * Add rate visibility handling for Activity's price and total\n\n- 4.0.6\n\n\
    \  Remove `document_versions` collection field from Documents\n\n- 4.0.7\n\n \
    \ Change secure link format\n\n- 4.0.8\n\n  * `Activity` hours are redacted in\
    \ the response based on the activity hours visibility setting for the user\n \
    \ * Add `quantity_redacted` field to activities\n\n- 4.0.9\n\n  **This is the\
    \ default version**\n\n  Contacts are filtered and redacted in the response based\
    \ on the new 'Contacts Visibility' user permission setting.\n\n- 4.0.10\n\n  Fixed\
    \ validation of `type` query parameter when querying Notes\n\n\n"
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Activities
  description: 'Activities (Time Entries and Expense Entries) track work done at a
    firm. Activities are recorded in Clio and then posted on bills to clients.


    Time Entries can be either be hourly-billable or flat-rate. An hourly-billable
    Time Entry is valued at the billing rate multiplied by the time entered. Examples
    could be a phone call, or a research session. A flat-rate Time Entry has a set
    value. Examples could be a visa application, or a contract review.


    Expenses are reimbursable costs the firm pays on behalf of a client (for example,
    postage, copy fees, etc.).


    [Support Link](https://help.clio.com/hc/en-us/sections/9036198517915-Activities)


    [Activities in Clio](http://app.clio.com/activities)

    '
- name: Activity Rates
  description: ''
- name: Activity Descriptions
  description: 'Activity Descriptions are custom Time Entry templates. Activity Descriptions
    help firms expedite their process for recording Time Entries, and ensure that
    their Time Entry descriptions are consistent.


    [Support Link](https://help.clio.com/hc/en-us/articles/9289744400667-Activity-Categories)


    [Activity Descriptions in Clio](https://app.clio.com/nc/#/activity_categories)

    '
- name: Allocations
  description: 'Once a [Payment](https://help.clio.com/hc/articles/9285641955355-Record-Edit-and-Delete-Payments)
    or [Credit Note](https://help.clio.com/hc/en-us/articles/9285299888539-Credit-Notes)
    has been recorded, an Allocation links it to a Bill.


    It''s possible for interest Allocations ("interest" = "true") to not be linked
    to a Bill. This can happen if the linked interest Bill is deleted (something the
    system allows.)


    [Support Link](https://help.clio.com/hc/articles/9285641955355-Record-Edit-and-Delete-Payments)

    '
- name: Bank Accounts
  description: "These accounts are meant to mirror the firm\u2019s accounts at their\
    \ financial institution. Users can add a bank account to Clio to use with [Clio\
    \ Payments](https://help.clio.com/hc/articles/9285631748507-Payments-and-Bank-Accounts),\
    \ and for use as an audit and [reconciliation](https://help.clio.com/hc/en-us/articles/9290138047899)\
    \ tool.\n\n[Support Link](https://help.clio.com/hc/articles/9285631748507-Payments-and-Bank-Accounts)\n"
- name: Bank Transactions
  description: ''
- name: Bank Transfers
  description: ''
- name: Bill Themes
  description: ''
- name: Billable Clients
  description: 'Users can view all Billable Clients, or clients with outstanding [Bills](https://help.clio.com/hc/en-us/articles/9285169278747-Generate-Bills),
    on the Billable Clients page, located under the Bills tab.

    '
- name: Billable Matters
  description: 'Users can see all [Matters with outstanding bills](https://help.clio.com/hc/en-us/articles/9286116462747#filter-matters-clio-manage-0-0)
    attached to them by filtering out all non-billable Matters under the Matters tab.


    Users can [disable billing](https://help.clio.com/hc/en-us/articles/9285959663131-Create-Matters#h_01GEK791XBF1JJ0VYC8BQTG9MW)
    for certain Matters. They can still enter Activities on these Matters, but those
    Activities will not appear in the [Bills page](https://help.clio.com/hc/en-us/articles/9285169278747-Generate-Bills).

    '
- name: Bills
  description: "Bills are statements of what a user\u2019s client owes for their services\
    \ over a particular billing period, including legal fees, expenses, and taxes.\n\
    \nUsers customize, preview, edit, and approve bills before sending them to a client.\n\
    \n[Support Link](https://help.clio.com/hc/en-us/articles/9285169278747-Generate-Bills)\n"
- name: Calendar Entries
  description: "Calendar Entries are used to track appointments or deadlines. Users\
    \ can view Calendar Entries on any Calendar that they have \u201CViewer\u201D\
    \ or \u201CEditor\u201D permission for. Users can create Calendar Entries on any\
    \ Calendar that they have \u201CEditor\u201D permission for.\n### Only supports\
    \ dates on or after January 01 1900 00:00 UTC\n* If you attempt to create a date\
    \ before 1900, the year of that date will be pulled forward to 1900 before it's\
    \ persisted.\n\n### Calendar Update/Deletion Best Practices\n* Prior to updating\
    \ or deleting a calendar entry, check for recurrence.\n* If the recurrence_rule\
    \ parameter is not equal to `null`, offer the following 3 options for the update/deletion,\
    \ as well as the note:\n    1. Only this instance: Update/Delete this event, but\
    \ leave all future events unchanged.\n    2. All following: Updates/Deletes this\
    \ event and all the future events.\n    3. All events in the series: Updates/Deletes\
    \ all events in the series.\n    * Note: If you've modified any future events\
    \ in this series, those edits will be lost once you make this change.\n\n[Support\
    \ Link](https://help.clio.com/hc/en-us/articles/9289905071387-Calendar-Events)\n"
- name: Calendar Entry Event Types
  description: ''
- name: Calendars
  description: 'Calendars contain Calendar Entries. All Clio accounts contain one
    firm Calendar ("AccountCalendar"), personal Calendars for each user ("UserCalendar"),
    and any number of manually created Calendars ("AdhocCalendar"). [Calendar sharing](https://help.clio.com/hc/en-us/articles/9289973325467-Calendar-Sharing-and-Permissions)
    settings determine if a Calendar is visible to a User, and if that User is able
    to create or edit Calendar Entries on that Calendar.


    [Support Link](https://help.clio.com/hc/en-us/articles/9290016489883-Calendar-Set-Up-and-Settings)

    '
- name: Clio Payments Links
  description: ''
- name: Clio Payments Payments
  description: 'Payments allow users to record that funds (from checks, cash, credit
    cards, etc.) have been transferred from a client to the firm. In order to pay
    Bills, Payments must be [allocated](https://help.clio.com/hc/articles/9285641955355-Record-Edit-and-Delete-Payments).


    [Support Link](https://help.clio.com/hc/articles/9285641955355-Record-Edit-and-Delete-Payments)

    '
- name: Communications
  description: 'Users can view all logged phone calls and emails under the Communications
    tab in Clio. This is also where they can use [Clio internal messages](https://help.clio.com/hc/en-us/articles/9125264015259-Internal-Messages).


    Communications can be filtered to show those attached to certain Matters or dates,
    or to show those with or without time entries.


    [Support Link](https://help.clio.com/hc/en-us/sections/9036030931739-Communication)

    '
- name: Email Addresses
  description: 'Email Addresses are email addresses associated with a Contact. This
    endpoint returns all email addresses associated with a Contact.

    '
- name: Phone Numbers
  description: 'Phone Numbers are phone numbers associated with a Contact. This endpoint
    returns all phone numbers associated with a Contact.

    '
- name: Contacts
  description: "All clients, prospective clients, companies, and external co-counsels\
    \ can be viewed as Contacts under the Contacts tab in Clio Manage.\n\n[Support\
    \ Link](https://help.clio.com/hc/en-us/articles/9290486281627-Clio-Manage-Contacts-Overview)\n\
    \n## Contact Name\nWhen creating a contact of type \"Person\" you must provide\
    \ at least a first name or a last name. This can be done in one of two ways:\n\
    \n1. Providing the name components explicitly (preferred): Using the `first_name`\
    \ and `last_name` parameters.\n2. Providing the full name (discouraged): Using\
    \ the `name` parameter, you can provide the person's full name (e.g. \"John Smith\"\
    ) and Clio will attempt to infer the individual components of the name. If it\
    \ is unable to do so, you will receive a \"422 Unprocessable Entity: At least\
    \ one of first name or last name must be provided\" Error.\n\n**We recommend using\
    \ the individual name fields when possible to avoid any ambiguities.**\n\n## Associations\n\
    A Contact can be persisted with its associations in a single request. The followings\
    \ detail the nested attributes to persist the associations.\n\n### Addresses\n\
    Checkout the sample request to update the Addresses of a Contact:\n```json\nRequest\n\
    \  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      addresses: [\n     \
    \   // update\n        { id: 1, name: \"Work\", country: \"Canada\" },\n     \
    \   // create\n        { name: \"Home\", street: \"1234 Main Street\", city: \"\
    Burnaby\", province: \"BC\", country: \"Canada\", postal_code: \"V1A 1A1\" },\n\
    \        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n\
    ### Custom Field Values\nA CustomFieldValue contains the value of a CustomField\
    \ for a Contact.\nBelow are some examples of how to create, read, update, and\
    \ destroy the CustomFieldValues of a Contact:\n#### Create\nNote: The value of\
    \ `id` used here is the value of the `id` parameter in the response received when\
    \ [creating a new CustomField](https://docs.developers.clio.com/api-reference/#operation/CustomField#create)\
    \ or one returned in a [query of an existing CustomField](https://docs.developers.clio.com/api-reference/#operation/CustomField#show).\n\
    ```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values:\
    \ [\n        { custom_field: { id: 2 }, value: \"Initial value\" }\n      ]\n\
    \    }\n  }\n```\n#### Read\nNote: The `id` of the CustomFieldValue is a composite\
    \ value including the custom field type. Use this `id` to update and destroy the\
    \ CustomFieldValue.\nThe `id` of the associated Custom Field can be found by querying\
    \ the `custom_field` for all CustomFieldValues related to the Contact, e.g.: `/api/v4/contacts/1?fields=id,display_number,custom_field_values{id,value,custom_field}`\n\
    \nNote: The `id` may be `NULL` when the CustomField is displayed by default but\
    \ has not yet been given a value.\n```json\nRequest\n  GET /api/v4/contacts/1.json?fields=custom_field_values{id,value,custom_field}\n\
    \  {\n    data: {\n      custom_field_values: [\n        {\n          id: \"text_line-1\"\
    ,\n          value: \"Current value\",\n          custom_field: { id: 2 }\n  \
    \      }\n      ]\n    }\n  }\n```\n#### Update\nNote: The value of the CustomFieldValue\
    \ `id` used here is a composite value and can be found by querying for all CustomFieldValues\
    \ related to the Contact, e.g.: `/api/v4/contacts/1?fields=id,name,custom_field_values{id,value,custom_field}`\n\
    \nNote: If the `id` is `NULL`, you must provide `custom_field{id}` to create the\
    \ CustomFieldValue and assign a value (see **Create**).\n```json\nRequest\n  PATCH\
    \ /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values: [\n  \
    \      { id: \"text_line-1\", value: \"Updated value\" }\n      ]\n    }\n  }\n\
    ```\n#### Destroy\nNote: The value of the CustomFieldValue `id` used here is a\
    \ composite value and can be found by querying for all CustomFieldValues related\
    \ to the Contact, e.g.: `/api/v4/contacts/1?fields=id,name,custom_field_values{id,value}`\n\
    ```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values:\
    \ [\n        { id: \"picklist-2\", _destroy: true }\n      ]\n    }\n  }\n```\n\
    \n### Email Addresses\nCheckout the sample request to update the Email Addresses\
    \ of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data:\
    \ {\n      email_addresses: [\n        // update\n        { id: 1, name: \"Work\"\
    , address: \"demo@clio.com\" },\n        // create\n        { name: \"Home\",\
    \ address: \"home@clio.com\" },\n        // destroy\n        { id: 2, _destroy:\
    \ true }\n      ]\n    }\n```\n\n### Instant Messengers\nCheckout the sample request\
    \ to update the Instant Messengers of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n\
    \  {\n    data: {\n      instant_messengers: [\n        // update\n        { id:\
    \ 1, name: \"Work\", address: \"https://twitter.com/goclio\" },\n        // create\n\
    \        { name: \"Other\", address: \"https://www.facebook.com/GoClio/\" },\n\
    \        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n\
    ### Phone Numbers\nCheckout the sample request to update the Phone Numbers of\
    \ a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data:\
    \ {\n      phone_numbers: [\n        // update\n        { id: 1, name: \"Work\"\
    , number: \"123-456-7890\" },\n        // create\n        { name: \"Other\", number:\
    \ \"000-000-0000\" },\n        // destroy\n        { id: 2, _destroy: true }\n\
    \      ]\n    }\n```\n\n### Web Site\nCheckout the sample request to update the\
    \ Web Site of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n\
    \  {\n    data: {\n      web_sites: [\n        // update\n        { id: 1, name:\
    \ \"Work\", address: \"https://help.clio.com/\" },\n        // create\n      \
    \  { name: \"Other\", address: \"https://www.clio.com/about/careers/\" },\n  \
    \      // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n"
- name: Conversation Messages
  description: ''
- name: Conversations
  description: ''
- name: Jurisdictions To Triggers
  description: "Jurisdictions-to-Triggers calculates the effective dates of related\
    \ court and agency rules that a lawyer must do for a Trigger. A Trigger is an\
    \ activity or event which a lawyer or court does in a jurisdiction.\n\nThese activities\
    \ and events have corresponding deadlines, which the firm must be aware of. These\
    \ deadlines can be before or after the Trigger. Example Triggers are \u201CMediation-Session\
    \ Completed, \u201CNotice of Appeal Filed,\u201D \u201D or \u201CSettlement Conference.\u201D\
    \n\nJurisdiction Triggers are part of the [Court Rules](https://help.clio.com/hc/en-us/articles/9289840995867-Court-Rules)\
    \ feature which is not available to all plan types. See [here](https://www.clio.com/pricing/)\
    \ for feature support across different plans.\n\nNote that only account Administrators\
    \ can add Court Rules jurisdictions.\n"
- name: Jurisdictions
  description: 'There are over 1000 jurisdictions available to choose from when using
    Court Rules. These jurisdictions contain state, federal, appellate, and bankruptcy
    courts from across the United States.


    Jurisdictions are part of the [Court Rules](https://help.clio.com/hc/en-us/articles/9289840995867-Court-Rules)
    feature which is not available to all plan types. See [here](https://www.clio.com/pricing/)
    for feature support across different plans.


    [Support Link](https://help.clio.com/hc/en-us/articles/9289840995867-Court-Rules)


    [Currently Available Jurisdictions](https://www.calendarrules.com/court-list)

    '
- name: Matter Dockets
  description: 'A Matter Docket connects a Matter with a Court Rule (and all of the
    Calendar Entries associated with the Court Rule). Matter Dockets are viewable
    on the Matter Edit screen under the Court Rules heading.


    Matter Dockets are part of the [Court Rules](https://help.clio.com/hc/en-us/articles/9289840995867-Court-Rules)
    feature which is not available to all plan types. See [here](https://www.clio.com/pricing/)
    for feature support across different plans.


    [Support Link](https://help.clio.com/hc/en-us/articles/9289840995867-Court-Rules)

    '
- name: Service Types
  description: 'Service Types are used when creating new Court Rules involving the
    delivery of documents. In order to calculate the correct deadline to send the
    document, an account will specify their Service Type.


    Current Service Types;

    * Express mail outside country

    * Mail outside country

    * Personal/hand

    * Mail outside state

    * Electronic service

    * Fax service

    * Express/Overnight

    * Regular mail

    * Electronic service - 0 days


    Service Types are part of the [Court Rules](https://help.clio.com/hc/en-us/articles/9289840995867-Court-Rules)
    feature which is not available to all plan types. See [here](https://www.clio.com/pricing/)
    for feature support across different plans.

    '
- name: Credit Memos
  description: 'Credit Memos allow users to write off amounts that clients owe on
    approved Bills. They can be added in two "ways": when viewing a Bill, or when
    making a payment on a Bill.


    [Support Link](https://help.clio.com/hc/en-us/articles/9285299888539-Credit-Notes)

    '
- name: Currencies
  description: ''
- name: Custom Fields
  description: ''
- name: Custom Field Sets
  description: ''
- name: Custom Actions
  description: 'In Clio, applications can create custom actions in our interface.
    Links are unique across an application, user, location in the UI (`ui_reference`)
    and label. When the user clicks on a custom action, Clio will open a new browser
    tab at the `target_url`.


    Clio will add a few URL parameters to the `target_url`, including the custom action
    ID, the ID of the user who clicked the link and the URL of the object(s) which
    the link was clicked on. The third party application must then look up the relevant
    OAuth token associated with the user and custom action, and make an authenticated
    request to the `subject_url`. This request both lets you validate the request
    was made by who you expected, that they have access to the record and lets you
    pull down any extra information you may need.


    Currently supported for: Activities, Contacts, Documents and Matters


    ## Security


    ### Confirming a User''s Action


    As custom actions require an unauthorized GET request, which can be faked, Clio
    has provided a way to validate that a user has actually performed an action.


    When a request is sent to the URL specified on the custom action, we will include
    a `custom_action_nonce` parameter. If you send us back the `custom_action_nonce`
    in your next request to the API, Clio will use it to validate that the user who
    clicked the custom action matches your oauth token request. If no match is made,
    an error will be returned.

    '
- name: Damages
  description: ''
- name: Expense Categories
  description: 'Expense Categories are custom Expense Entry templates. Expense Categories
    help firms expedite their process for recording Expense Entries, and ensure that
    their Expense Entry descriptions are consistent.


    [Support Link](https://help.clio.com/hc/en-us/articles/9289744400667-Activity-Categories#create-an-expense-category-0-2)


    [Expense Categories in Clio](https://app.clio.com/nc/#/activity_categories)

    '
- name: Grants
  description: ''
- name: Grant Funding Sources
  description: ''
- name: Groups
  description: "In Clio, [permission levels](https://help.clio.com/hc/en-us/articles/9200279456667-Account-Users-and-Permissions#user-permissions-clio-manage--0-2)\
    \ and [Matter permissions](https://help.clio.com/hc/en-us/articles/9286062516123-Matter-Permissions-and-Rates)\
    \ are controlled using Groups. All accounts contain an \u201Call users\u201D group,\
    \ as well as individual groups for each user. Admins always have access to all\
    \ of the account's groups. Users can also create groups manually in order to precisely\
    \ manage their permissions.\n\n[Support Link](https://help.clio.com/hc/en-us/articles/9200279456667-Account-Users-and-Permissions#user-groups-0-6)\n"
- name: Event Metrics
  description: Event metrics keep track of firm users' unread web and mobile [In-app
    notifications](https://help.clio.com/hc/en-us/articles/9290346939547-Set-Up-Clio-Manage#settings-0-3)
    and unread [Clio Internal Messages](https://help.clio.com/hc/en-us/articles/9125264015259-Internal-Messages).
- name: My Events
  description: In-app notifications are used to notify firm users of important events
    or changes in Clio, initiated by other firm users. These events are displayed
    in the **Your firm** tab of the notifications panel.
- name: Interest Charges
  description: ''
- name: Line Items
  description: ''
- name: Log Entries
  description: "Log Entries populate the \u201CRecents\u201D dropdown in the header.\
    \ The \u201CRecent\u201D section displays the ten Matters and Contacts that the\
    \ user most recently accessed.\n\nWhen a user accesses a Contact or a Matter,\
    \ a Log Entry is created.\n"
- name: Matters
  description: "[Matters](https://help.clio.com/hc/en-us/articles/9285920226075-Clio-Manage-Matters-Overview)\
    \ in Clio represent a firm\u2019s cases. All relevant information\u2014Bills,\
    \ Documents, Time Entries, etc.\u2014are contained in the Matter. A user\u2019\
    s ability to access a Matter is controlled by the [Matter Permission settings](https://help.clio.com/hc/en-us/articles/9286062516123-Matter-Permissions-and-Rates).\
    \ A user without permission will be unable to view or update a Matter.\n\n[Support\
    \ Link](https://help.clio.com/hc/en-us/articles/9285920226075-Clio-Manage-Matters-Overview)\n\
    \n[Matters in Clio](http://app.clio.com/matters)\n\n## Associations\nA Matter\
    \ can be persisted with its associations in a single request. The followings detail\
    \ the nested attributes to persist the associations.\n\n### Custom Field Values\n\
    A CustomFieldValue contains the value of a CustomField for a Matter.\nBelow are\
    \ some examples of how to create, read, update, and destroy the CustomFieldValues\
    \ of a Matter:\n#### Create\nNote: The value of `id` used here is the value of\
    \ the `id` parameter in the response received when [creating a new CustomField](https://docs.developers.clio.com/api-reference/#operation/CustomField#create)\
    \ or one returned in a [query of an existing CustomField](https://docs.developers.clio.com/api-reference/#operation/CustomField#show).\n\
    ```json\nRequest\n  PATCH /api/v4/matters/1.json\n  {\n    data: {\n      custom_field_values:\
    \ [\n        { custom_field: { id: 2 }, value: \"Initial value\" }\n      ]\n\
    \    }\n  }\n```\n#### Read\nNote:  The `id` of the CustomFieldValue is a composite\
    \ value including the custom field type. Use this `id` to update and destroy the\
    \ CustomFieldValue.\nThe `id` of the associated Custom Field can be found by querying\
    \ the `custom_field` for all CustomFieldValues related to the Matter, e.g.: `/api/v4/matters/1?fields=id,display_number,custom_field_values{id,value,custom_field}`\n\
    \nNote: The `id` may be `NULL` when the CustomField is displayed by default but\
    \ has not yet been given a value.\n```json\nRequest\n  GET /api/v4/matters/1.json?fields=custom_field_values{id,value,custom_field}\n\
    \  {\n    data: {\n      custom_field_values: [\n        {\n          id: \"text_line-1\"\
    ,\n          value: \"Current value\",\n          custom_field: { id: 2 }\n  \
    \      }\n      ]\n    }\n  }\n```\n#### Update\nNote: The value of the CustomFieldValue\
    \ `id` used here is a composite value and can be found by querying for all CustomFieldValues\
    \ related to the Matter, e.g.: `/api/v4/matters/1?fields=id,display_number,custom_field_values{id,value,custom_field}`\n\
    \nNote: If the `id` is `NULL`, you must provide `custom_field{id}` to create the\
    \ CustomFieldValue and assign a value (see **Create**).\n```json\nRequest\n  PATCH\
    \ /api/v4/matters/1.json\n  {\n    data: {\n      custom_field_values: [\n   \
    \     { id: \"text_line-1\", value: \"Updated value\" }\n      ]\n    }\n  }\n\
    ```\n#### Destroy\nNote: The value of the CustomFieldValue `id` used here is a\
    \ composite value and can be found by querying for all CustomFieldValues related\
    \ to the Matter, e.g.: `/api/v4/matters/1?fields=id,display_number,custom_field_values{id,value}`\n\
    ```json\nRequest\n  PATCH /api/v4/matters/1.json\n  {\n    data: {\n      custom_field_values:\
    \ [\n        { id: \"picklist-2\", _destroy: true }\n      ]\n    }\n  }\n```\n\
    \n### Custom Rates\nEach Matter can be set up to be billed on an Hourly basis,\
    \ Flat Fee basis, or on Contingency.\nTo set the rate type, assign `custom_rate[type]`\
    \ with one of the values, `\"HourlyRate\"`, `\"FlatRate\"` or `\"ContingencyFee\"\
    `.\nBy default, a Matter is billed on an hourly basis. If the rate type is modified,\
    \ the persisted rates will be deleted.\n\n[Support Link](https://help.clio.com/hc/en-us/articles/9289801180187)\n\
    \n#### Hourly Rates\nSelecting the `\"HourlyRate\"` type will record time entries\
    \ based on the custom hourly rates.\nA custom hourly rate can be associated to\
    \ a User or a Group.\nCheckout the sample request to update the hourly rates of\
    \ a Matter:\n```json\nRequest\n  PATCH /api/v4/matters/1.json\n  {\n    data:\
    \ {\n      custom_rate: {\n        type: \"HourlyRate\",\n        rates: [\n \
    \         // update a rate for a user\n          { id: 1, rate: 100, user: { id:\
    \ 1 } },\n          // update a rate for a group\n          { id: 2, rate: 100,\
    \ group: { id: 1 } },\n          // create a rate for a user\n          { rate:\
    \ 100, user: { id: 2 } },\n          // create a rate for a group\n          {\
    \ rate: 100, group: { id: 2 } },\n          // destroy a rate\n          { id:\
    \ 3, _destroy: true }\n        ]\n      }\n    }\n  }\n```\n\n#### Flat Rate\n\
    Selecting the `\"FlatRate\"` type will bill the matter with a flat fee. A Matter\
    \ can only have one flat rate.\nFor associated objects, you can specify `_destroy`\
    \ attribute to delete the rate.\n\nCheckout the sample request to update the flat\
    \ rate of a Matter:\n```json\nRequest\n  PATCH /api/v4/matters/1.json\n  {\n \
    \   data: {\n      custom_rate: {\n        type: \"FlatRate\",\n        rates:\
    \ [\n          {\n            id: 1,\n            user: { id: 1 },\n         \
    \   activity_description: { id: 1 },\n            rate: 100,\n          }\n  \
    \      ]\n      }\n    }\n  }\n```\n\n#### Contingency Fee\nSelecting the `\"\
    ContingencyFee\"` type will specify a contingency fee percentage on a Matter and\
    \ the award or settlement amount won at the completion of the case.\nA Matter\
    \ can only have one definition of contingency fee.\nFor associated objects, you\
    \ can specify `_destroy` attribute to delete the rate.\n\nContingency Fee Matters\
    \ are not available to all plan types. See [here](https://www.clio.com/pricing/)\
    \ for feature support across different plans.\n\nCheckout the sample request to\
    \ update the contingency fee of a Matter:\n```json\nRequest\n  PATCH /api/v4/matters/1.json\n\
    \  {\n    data: {\n      custom_rate: {\n        type: \"ContingencyFee\",\n \
    \       rates: [\n          {\n            id: 1,\n            user: { id: 1 },\n\
    \            rate: 20,\n          }\n        ]\n      }\n    }\n  }\n```\n###\
    \ Matter Budget\nClio supports tracking a matter budget directly within a Matter.\n\
    A Matter can only have one matter budget associated with it.\nA matter budget\
    \ can not be added to flat rate matters.\nFor associated objects, you can specify\
    \ the `_destroy` attribute to delete the Matter Budget.\n\nMatter Budget are not\
    \ available to all plan types. See [here](https://www.clio.com/pricing/) for feature\
    \ support across different plans.\n\nCheck out the sample request to update the\
    \ matter budget of a Matter:\n```json\nRequest\n  PATCH /api/v4/matters/1.json\n\
    \  {\n    data: {\n      matter_budget: {\n        budget: 5000000,\n        include_expenses:\
    \ true,\n        notification_threshold: 100,\n        notify_users: true\n  \
    \      users: [\n          { id: 1 },\n          // destroy\n          { id: 2,\
    \ _destroy: true }\n        ]\n      }\n    }\n  }\n```\n### Grant Matter\nClio\
    \ supports associating a Grant with a Matter, using Grant Matters.\nA Matter can\
    \ have up to three Grants (and Grant Matters) associated with it.\nFor associated\
    \ objects, you can specify the `_destroy` attribute to delete Grant Matters.\n\
    \nGrant Matters are only for legal aid US customers\n\nCheckout the sample request\
    \ to update a Grant Matter:\n```json\nRequest\n  PATCH /api/v4/matters/1.json\n\
    \  {\n    data: {\n    \"grant_matters\": [\n      {\"id\":{{existing_grant_matter_id}}}\n\
    \    ]\n    }\n  }\n  ```\n### Relationships\nThere are people and/or companies\
    \ related to a Matter other than the client of the lawyer. Clio helps define how\
    \ the entities relate to a Matter.\n\n#### Please be advised that the use of the\
    \ relationships field below is discouraged. We plan to deprecate it in the future.\
    \ Please use [Relationships](https://docs.developers.clio.com/api-reference/#tag/Relationships)\
    \ instead.\n\nCheckout the sample request to update Relationships of a Matter:\n\
    ```json\nRequest\n  PATCH /api/v4/matters/1.json\n  {\n    data: {\n      relationships:\
    \ [\n        // update\n        { id: 1, contact: { id: 1 }, description: \"Opposing\
    \ Counsel\" },\n        // create\n        { contact: { id: 2 }, description:\
    \ \"Judge\" },\n        // destroy\n        { id: 2, _destroy: true }\n      ]\n\
    \    }\n  }\n```\n\n### Statue Of Limitations\nClio supports to track a Statute\
    \ of Limitations date directly within a Matter.\nIt can be associated with reminders\
    \ as a Task.\nA Matter can only have one definition of Statue of Limitations.\n\
    For associated objects, you can specify `_destroy` attribute to delete the Statue\
    \ of Limitations.\n\nCheck out the sample request to update the Statue of Limitations\
    \ and its reminders of a Matter:\n```json\nRequest\n  PATCH /api/v4/matters/1.json\n\
    \  {\n    data: {\n      statue_of_limitations: [\n        due_at: \"20201231\"\
    ,\n        status: \"open\",\n        reminders: [\n          // update\n    \
    \      { id: 1, duration_unit: \"days\", duration_value: 1, notification_method:\
    \ { id: 1 } },\n          // create\n          { duration_unit: \"days\", duration_value:\
    \ 1, notification_method: { id: 2 } },\n          // destroy\n          { id:\
    \ 2, _destroy: true }\n        ]\n      ]\n    }\n  }\n```\n\n### Task Template\
    \ Lists\nClio supports assigning task template lists to a matter from with the\
    \ same request that\ncreates or updates a matter. Please note that a task template\
    \ list **can only be\nassigned**. Once a task template list is assigned, it **cannot\
    \ be modified or destroyed**.\n\nCheckout the sample request to assign a task\
    \ template list id to a matter:\n\n```json\nRequest\n  PATCH /api/v4/matters/1.json\n\
    \  {\n    data: {\n      task_template_list_instances: [\n        {\n        \
    \  notify_assignees: true,\n          task_template_list: {id: 1},\n        },\n\
    \        {\n          notify_assignees: false,\n          task_template_list:\
    \ {id: 2},\n        }\n      ],\n    }\n  }\n```\n"
- name: Clients
  description: ''
- name: Related Contacts
  description: ''
- name: Matter Contacts
  description: "All clients, prospective clients, companies, and external co-counsels\
    \ can be viewed as Contacts under the Contacts tab in Clio Manage.\n\n[Support\
    \ Link](https://help.clio.com/hc/en-us/articles/9290486281627-Clio-Manage-Contacts-Overview)\n\
    \n## Contact Name\nWhen creating a contact of type \"Person\" you must provide\
    \ at least a first name or a last name. This can be done in one of two ways:\n\
    \n1. Providing the name components explicitly (preferred): Using the `first_name`\
    \ and `last_name` parameters.\n2. Providing the full name (discouraged): Using\
    \ the `name` parameter, you can provide the person's full name (e.g. \"John Smith\"\
    ) and Clio will attempt to infer the individual components of the name. If it\
    \ is unable to do so, you will receive a \"422 Unprocessable Entity: At least\
    \ one of first name or last name must be provided\" Error.\n\n**We recommend using\
    \ the individual name fields when possible to avoid any ambiguities.**\n\n## Associations\n\
    A Contact can be persisted with its associations in a single request. The followings\
    \ detail the nested attributes to persist the associations.\n\n### Addresses\n\
    Checkout the sample request to update the Addresses of a Contact:\n```json\nRequest\n\
    \  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      addresses: [\n     \
    \   // update\n        { id: 1, name: \"Work\", country: \"Canada\" },\n     \
    \   // create\n        { name: \"Home\", street: \"1234 Main Street\", city: \"\
    Burnaby\", province: \"BC\", country: \"Canada\", postal_code: \"V1A 1A1\" },\n\
    \        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n\
    ### Custom Field Values\nA CustomFieldValue contains the value of a CustomField\
    \ for a Contact.\nBelow are some examples of how to create, read, update, and\
    \ destroy the CustomFieldValues of a Contact:\n#### Create\nNote: The value of\
    \ `id` used here is the value of the `id` parameter in the response received when\
    \ [creating a new CustomField](https://docs.developers.clio.com/api-reference/#operation/CustomField#create)\
    \ or one returned in a [query of an existing CustomField](https://docs.developers.clio.com/api-reference/#operation/CustomField#show).\n\
    ```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values:\
    \ [\n        { custom_field: { id: 2 }, value: \"Initial value\" }\n      ]\n\
    \    }\n  }\n```\n#### Read\nNote: The `id` of the CustomFieldValue is a composite\
    \ value including the custom field type. Use this `id` to update and destroy the\
    \ CustomFieldValue.\nThe `id` of the associated Custom Field can be found by querying\
    \ the `custom_field` for all CustomFieldValues related to the Contact, e.g.: `/api/v4/contacts/1?fields=id,display_number,custom_field_values{id,value,custom_field}`\n\
    \nNote: The `id` may be `NULL` when the CustomField is displayed by default but\
    \ has not yet been given a value.\n```json\nRequest\n  GET /api/v4/contacts/1.json?fields=custom_field_values{id,value,custom_field}\n\
    \  {\n    data: {\n      custom_field_values: [\n        {\n          id: \"text_line-1\"\
    ,\n          value: \"Current value\",\n          custom_field: { id: 2 }\n  \
    \      }\n      ]\n    }\n  }\n```\n#### Update\nNote: The value of the CustomFieldValue\
    \ `id` used here is a composite value and can be found by querying for all CustomFieldValues\
    \ related to the Contact, e.g.: `/api/v4/contacts/1?fields=id,name,custom_field_values{id,value,custom_field}`\n\
    \nNote: If the `id` is `NULL`, you must provide `custom_field{id}` to create the\
    \ CustomFieldValue and assign a value (see **Create**).\n```json\nRequest\n  PATCH\
    \ /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values: [\n  \
    \      { id: \"text_line-1\", value: \"Updated value\" }\n      ]\n    }\n  }\n\
    ```\n#### Destroy\nNote: The value of the CustomFieldValue `id` used here is a\
    \ composite value and can be found by querying for all CustomFieldValues related\
    \ to the Contact, e.g.: `/api/v4/contacts/1?fields=id,name,custom_field_values{id,value}`\n\
    ```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values:\
    \ [\n        { id: \"picklist-2\", _destroy: true }\n      ]\n    }\n  }\n```\n\
    \n### Email Addresses\nCheckout the sample request to update the Email Addresses\
    \ of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data:\
    \ {\n      email_addresses: [\n        // update\n        { id: 1, name: \"Work\"\
    , address: \"demo@clio.com\" },\n        // create\n        { name: \"Home\",\
    \ address: \"home@clio.com\" },\n        // destroy\n        { id: 2, _destroy:\
    \ true }\n      ]\n    }\n```\n\n### Instant Messengers\nCheckout the sample request\
    \ to update the Instant Messengers of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n\
    \  {\n    data: {\n      instant_messengers: [\n        // update\n        { id:\
    \ 1, name: \"Work\", address: \"https://twitter.com/goclio\" },\n        // create\n\
    \        { name: \"Other\", address: \"https://www.facebook.com/GoClio/\" },\n\
    \        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n\
    ### Phone Numbers\nCheckout the sample request to update the Phone Numbers of\
    \ a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data:\
    \ {\n      phone_numbers: [\n        // update\n        { id: 1, name: \"Work\"\
    , number: \"123-456-7890\" },\n        // create\n        { name: \"Other\", number:\
    \ \"000-000-0000\" },\n        // destroy\n        { id: 2, _destroy: true }\n\
    \      ]\n    }\n```\n\n### Web Site\nCheckout the sample request to update the\
    \ Web Site of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n\
    \  {\n    data: {\n      web_sites: [\n        // update\n        { id: 1, name:\
    \ \"Work\", address: \"https://help.clio.com/\" },\n        // create\n      \
    \  { name: \"Other\", address: \"https://www.clio.com/about/careers/\" },\n  \
    \      // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n"
- name: Matter Stages
  description: ''
- name: Medical Records
  description: 'Medical Records are a subset of Medical Records Details and can be
    used to keep track of documents, start dates, and end dates.


    Note that these endpoints only handle Updating and Destroying a record. Creating
    records should be handled in the Medical Records Details endpoint.

    '
- name: Medical Records Details
  description: 'Medical Records Details allow you to track requests for medical records
    and medical bills, track treatment dates, follow up on requests, upload medical
    files, and track liens and outstanding balances that need to be paid out of the
    settlement all in one place.


    Medical Records Details can be found in the Matters page under the Medical Records
    sub tab.


    [Support Link](https://help.clio.com/hc/en-us/articles/15815962459931-Medical-Records)

    '
- name: Medical Bills
  description: 'Medical Bills are a subset of Medical Records Details and can be used
    to keep track of documents, bill dates, and liens.


    Note that these endpoints only handle Updating and Destroying a record. Creating
    records should be handled in the Medical Records Details endpoint.

    '
- name: Notes
  description: 'Notes can be added to Matters or Contacts in Clio to record meeting
    notes, research, or anything else a user might want. The field can hold hundreds
    of pages, so users can add plenty of information.


    Notes can be found either on the Matters or Contacts page under the Notes sub
    tab.


    [Support Link](https://help.clio.com/hc/en-us/articles/9285920226075-Clio-Manage-Matters-Overview#h_01GHETXG1D1HBK71VEF9HNSPDM)

    '
- name: Outstanding Client Balances
  description: ''
- name: Practice Areas
  description: 'The practice area field can be added to Matters and used for filtering
    purposes, or just for reference. Users can create their own practice areas in
    their [Firm Preferences settings](https://help.clio.com/hc/en-us/articles/9290346939547-Set-Up-Clio-Manage#settings-0-3).


    [Support link](https://help.clio.com/hc/en-us/articles/9285959663131-Create-Matters#h_01GEK791XBF1JJ0VYC8BQTG9MW)


    [Practice areas settings](http://app.clio.com/practice_areas)

    '
- name: Relationships
  description: 'Relationships are used on a Matter to track Contacts related to the
    Matter. Relationships are can be found on the Contacts sub tab of a Matter.


    [Support Link](https://help.clio.com/hc/en-us/articles/9285959663131-Create-Matters#h_01GEK791XBF1JJ0VYC8BQTG9MW)


    Relationships are used on the Matter detail page under the Contacts tab.

    '
- name: Reminders
  description: 'Reminders can be added to Tasks or Calendar Entries. Reminder emails
    can be sent by a User to themselves, other Users, Clio For Co-Counsel/Clio Connect
    Contacts, or [any authorized email](https://help.clio.com/hc/en-us/articles/9289861195291-Calendar-Notifications-and-Reminders).
    An in-Clio pop-up reminder can also be sent by a User to themself.


    [Support Link](https://help.clio.com/hc/en-us/articles/9289861195291-Calendar-Notifications-and-Reminders)

    '
- name: Reports
  description: ''
- name: Report Presets
  description: "Report Presets can be created to streamline report generation workflow\
    \ by saving report option parameters as a Preset.\n\n[Support Link](https://help.clio.com/hc/en-us/articles/9290078155803-Generate-Reports-Presets-and-History#reports-presets-0-2)\n\
    \n## Creating a Report Preset\n### Options\nWhen creating a Report Preset, the\
    \ options sent in the request body is dependent on the report kind.\n\nCheck out\
    \ the sample request to create a Report Preset for the Billing History web report\
    \ for the current year and grouped by client.\n\n```\nRequest\n  POST /api/v4/report_presets.json\n\
    \  {\n    data:\n    { name: \"Current Yr Billing\",\n      kind: \"billing_history\"\
    ,\n      options: {\n        date_range: \"year\",\n        format: \"html\",\n\
    \        group_by: \"client\",\n        start_date: null,\n        end_date: null,\n\
    \        kind: \"billing_history\"\n      },\n      format: \"html\"\n    }\n\
    \  }\n```\n"
- name: Report Schedules
  description: 'Schedule report generation for an existing Report Preset using Report
    Schedules. A Report Schedule will generate reports from the specified Preset''s
    report options on a daily, weekly or monthly basis. Once the report has been generated,
    users will be notified via email.


    [Support Link](https://help.clio.com/hc/en-us/articles/9290078155803-Generate-Reports-Presets-and-History)

    '
- name: Billing Settings
  description: ''
- name: Text Snippets
  description: "Clio's Text Snippets feature allows users to create a list of predefined\
    \ abbreviations for commonly used phrases. For example, a user could configure\
    \ their settings to have \u201Cmeeting with client\u201D show up whenever they\
    \ type \u201Cmwc.\u201D\n\nThis feature can be used in various field in Clio,\
    \ such as the Matter Description, Note Detail, Calendar Entry Description and\
    \ Task Description fields.\n\nText snippets are created and configured in a user's\
    \ [personal settings](https://app.clio.com/settings/text_snippets) in Clio Manage.\n\
    \n[Support link](https://help.clio.com/hc/en-us/articles/9290346939547-Set-Up-Clio-Manage#settings-0-3)\n"
- name: Tasks
  description: 'Tasks are used to assign and track work. Users can set priorities,
    due dates, and add reminders.


    Tasks can be assigned to firm users as well as Contacts (such as clients or co-counsel).


    [Support Link](https://help.clio.com/hc/en-us/articles/9204917906971-Task-Management)


    [Tasks in Clio](http://app.clio.com/tasks)

    '
- name: Calendar Visibilities
  description: ''
- name: Task Templates
  description: 'Task Templates are the individual [Tasks](https://docs.developers.clio.com/api-reference/#tag/Tasks)
    which comprise a [Task Template List](https://docs.developers.clio.com/api-reference/#tag/Task-Template-Lists).


    [Support Link](https://help.clio.com/hc/en-us/articles/9206286672155-Task-Lists)

    '
- name: Task Template Lists
  description: 'With Task Template Lists, users can create groups of [Task Templates](https://docs.developers.clio.com/api-reference/#tag/Task-Templates)
    for the types of projects they work on most often. Each Task in a list can be
    given a separate due date in relation to the due dates for other [Tasks](https://docs.developers.clio.com/api-reference/#tag/Tasks)
    in the list.


    Users can then assign individual tasks on a list to different users, or they can
    batch assign an entire list.


    [Support Link](https://help.clio.com/hc/en-us/articles/9206286672155-Task-Lists)


    [Task Template Lists in Clio](http://app.clio.com/list_templates)

    '
- name: Task Types
  description: 'Task Types are used to better categorize and filter tasks. This is
    a simple text field which is limited to 50 characters.


    Task Types are part of the Advanced Tasks feature which is not available to all
    plan types. See [here](https://www.clio.com/pricing/) for feature support across
    different plans.


    [Support Link] (https://help.clio.com/hc/en-us/articles/9205859328923-Task-Types)


    Used within Clio at [Task types](http://app.clio.com/task_types)

    '
- name: Timers
  description: 'Timers are used to track time spent on billable work. They are used
    with hourly-billable [Time Entries](https://docs.developers.clio.com/api-reference/#tag/Activities).


    The Timer modal is accessed by clicking the timer in the application''s header,
    or by clicking the Timer icon on a Time Entry.


    [Support Link](https://help.clio.com/hc/en-us/articles/9289741706779-Time-Entries#timer-0-2)


    Used within Clio in the timer modal which can be accessed by clicking the timer
    in the header or on the create/edit Time Entry form.

    '
- name: Trust Line Items
  description: ''
- name: Trust Requests
  description: ''
- name: Users
  description: "A User is anyone with the ability to log in to Clio. This does not\
    \ include Clio for Co-Counsel/Clio Connect users.\n\n[Support Link](https://help.clio.com/hc/en-us/articles/9200279456667-Account-Users-and-Permissions)\n\
    \n## Firm name\nYou can obtain the name of the firm linked to a user by accessing\
    \ the nested `account` object:\n\n```json\nRequest\n  GET /api/v4/users/who_am_i?fields=account{name}\n\
    ```\n"
- name: Utbms Sets
  description: '[UTBMS codes](https://docs.developers.clio.com/api-reference/#tag/UTBMS-Codes)
    are divided into code sets. Each set includes Activities relevant to a certain
    type of law (for example, litigation, bankruptcy, etc.). Clio users can enable
    one or more of these sets in the [UTBMS settings menu](https://help.clio.com/hc/en-us/articles/9289762435099-UTBMS-Codes#enable-utbms-codes-0-0).
    Enabling a UTBMS code set means that users will be able to select Activities from
    that list when adding Time or Expense Entries into Clio.


    [Support Link](https://help.clio.com/hc/en-us/articles/9289762435099-UTBMS-Codes)

    '
- name: Utbms Codes
  description: '[UTBMS codes](http://utbms.com/) standardize Time and Expense entries
    across the legal profession. Clio users can enter their Activities using UTBMS
    codes in order to provide electronic invoices.


    [Support Link](https://help.clio.com/hc/en-us/articles/9289762435099-UTBMS-Codes)

    '
- name: Webhooks
  description: "Webhooks are a way of detecting events in Clio without the need for\
    \ polling.\n\nA webhook can be subscribed to a number of `events` on a model.\
    \ Some events will be different depending on the chosen model, but (with one exception)\
    \ *all* models support the following events:\n\n* `created`\n* `updated`\n* `deleted`\n\
    \nTo subscribe to any or all events for a model, [create a webhook record](#operation/Webhook#create)\
    \ with the URL that you want webhooks to be sent to, a model, and the list of\
    \ `events` you care about. Whenever an event happens on that model in Clio that\
    \ the user is authorized to see, an HTTP request will be made to the supplied\
    \ URL with details about the event. A webhook will automatically expire after\
    \ a set period of time. If no `expires_at` parameter is provided, the webhook\
    \ will expire after 3 days. The maximum duration you can set a webhook to expire\
    \ after is 31 days. If you require longer than that, you can manually extend it\
    \ by updating the `expires_at` field.\n\n## Supported Models\n\nYour application\
    \ needs to have the corresponding model OAuth scope when creating or updating\
    \ a webhook. For example, when creating/updating a folder webhook you need the\
    \ document Oauth Scope and the webhook Oauth Scope.\nThe list of models supported\
    \ by webhooks with their corresponding string identifier and ID is presented in\
    \ the following table:\n\n| Name                  | String Identifier     | ID\
    \ | Oauth Scope    |\n|-----------------------|-----------------------|:--:|----------------|\n\
    | Matter                | matter                | 1  | Matters        |\n| Activity\
    \              | activity              | 2  | Activities     |\n| Bill       \
    \           | bill                  | 3  | Billing        |\n| Calendar Entry\
    \        | calendar_entry        | 4  | Calendars      |\n| Communication    \
    \     | communication         | 5  | Communications |\n| Contact             \
    \  | contact               | 6  | Contacts       |\n| Task                  |\
    \ task                  | 7  | Tasks          |\n| Document              | document\
    \              | 8  | Documents      |\n| Folder                | folder     \
    \           | 9  | Documents      |\n| Clio Payments payment | clio_payments_payment\
    \ | 10 | Clio Payments  |\n\n## HTTPS\n\nPlease note that all webhooks MUST be\
    \ using a url with the `https` scheme. All other schemes, including `http`, will\
    \ be rejected.\n\n## Specifying Fields in Webhooks\n\nWhen a webhook is sent,\
    \ the payload will not include the entire object for the record. To select specific\
    \ fields from the record, you can use the fields parameter when creating the webhook.\
    \ For example: when creating a webhook listening for new Activity records being\
    \ created, you can pass the value \u201Cid,etag,quantity,price\u201D into the\
    \ fields parameter. When an Activity is created, the id, etag, quantity, and price\
    \ fields of the new Activity will be included in the webhook's payload.\n\nFor\
    \ `update` webhooks, the fields parameter is also used to specify fields that\
    \ will be \u201Cwatched\u201D by the webhook. Clio will only send a webhook when\
    \ at least one of the selected fields has changed on a record.\n\n\n**An important\
    \ note**\nIf you have never received a webhook for an object before, you will\
    \ receive a webhook for that object if any fields have changed on that object,\
    \ including fields you haven't subscribed to.\nFor example: if you create a webhook\
    \ that subscribes to updates to Activities and provide \"price\" as the field\
    \ parameter value, the first time an Activity is updated after the Webhook is\
    \ live will trigger a webhook event \u2013\_even if the price hasn't changed.\
    \ Subsequent webhook events for that Activity will only be sent when the price\
    \ field changes.\n\nNote that there is a hard limit to the size of the `fields`\
    \ parameter. Any request containing a `fields` size over 1000 characters will\
    \ be rejected.\n\nTip: Use the minimum set of fields to reduce how frequently\
    \ your endpoint is hit.\n\n## Model Specific Events\n\nAs mentioned previously,\
    \ almost all models support the created, updated, and deleted events. Some models\
    \ also support events specific to their life cycle.\n\n### Clio Payments payments\n\
    \n* `created` is fired whenever a payment is created\n* `updated` is fired whenever\
    \ a payment is updated\n\n### All other Models\n\n* `created` is fired whenever\
    \ a model is created\n* `updated` is fired whenever a model is updated\n* `deleted`\
    \ is fired whenever a model is deleted\n\n### Matters\n\n* `matter_opened` is\
    \ fired whenever a matter's status changes to \"Open\"\n* `matter_pended` is fired\
    \ whenever a matter's status changes to \"Pending\"\n* `matter_closed` is fired\
    \ whenever a matter's status changes to \"Close\"\n\nMore model-specific events\
    \ will be coming soon.\n\n## Delivery Failure and Retries\n\nA response status\
    \ code of `2xx`, `3xx`, or `410 GONE` indicate that the action was successfully\
    \ processed. When a `410 GONE` response is received, the webhook subscription\
    \ will be disabled. All other responses will be considered unsuccessful, and they\
    \ will be retried using an exponential backoff strategy.\n\n### Timeouts\n\nClio\
    \ will wait a short period of time before the request will timeout. We will consider\
    \ it an unsuccessful response and retry using an exponential backoff strategy.\
    \ It is important to respond quickly. Failure to do so repeatedly may result in\
    \ your webhook being disabled. If you need to do lengthy processing with the webhook,\
    \ it is recommended that you defer the processing until after you have sent a\
    \ response back to Clio.\n\n## Webhook Security\n\n### Identity Confirmation\n\
    \nTo ensure that a URL actually intends to receive webhooks from Clio, and to\
    \ ensure that the payloads are actually from Clio, we will share a secret in the\
    \ initial handshake.\n\nA POST request will be made immediately after a webhook\
    \ is setup, or whenever the URL changes. This request will have a unique secret\
    \ in a `X-Hook-Secret` header along with the id of the webhook that was just created.\
    \ There are two ways of confirming the webhook using this secret:\n\n#### Option\
    \ 1: Immediate\n\nUpon initially receiving this secret, the endpoint can return\
    \ a `200 OK` response and include the same secret in a `X-Hook-Secret` header.\n\
    \n#### Option 2: Delayed\n\nAfter receiving the secret, make a PUT request to\
    \ `/api/v4/webhooks/:webhook_id/activate` with the secret in a `X-Hook-Secret`\
    \ header.\n\nNote that a webhook will not be enabled until this handshake is successful.\n\
    \n### Confirming Hook Legitimacy\n\nTo prove that Clio is sending all subsequent\
    \ messages, Clio will sign all of the requests.\n\nClio will compute an [HMAC-SHA256\
    \ signature](https://en.wikipedia.org/wiki/Hash-based_message_authentication_code)\
    \ based on the shared secret and the request body. That signature will then be\
    \ placed in a `X-Hook-Signature` header. The endpoint can then verify the signature\
    \ to know if the message is authentic. Verification is as simple as computing\
    \ an HMAC-SHA256 signature using the shared secret as the key and the request\
    \ body as the message, and comparing it to the `X-Hook-Signature` header.\n\n\
    ## Examples\n\nA Webhook can be created for the Activities model, to trigger on\
    \ any events and return the id and etag fields:\n  ```http\n    {\n      \"data\"\
    :{\n        \"url\":\"https://my/callback/url\",\n        \"fields\":\"id,etag\"\
    ,\n        \"model\":\"activity\",\n        \"events\":[\"created\",\"deleted\"\
    ,\"updated\"]\n      }\n    }\n  ```\n\nThis webhook would have the following\
    \ responses for different actions. It would trigger on any events for the model,\
    \ and return the id and etag fields for that model, and the event type.\n\nNotes:\n\
    * The `model` field accepts both the string identifier of the model as in the\
    \ example, or its ID. In the latter case, you would have provided the ID parameter:\
    \ `\"model\":2`. Refer to [the table listing the models supported by webhooks](#section/Supported-Models)\
    \ for matching the model name with its ID.\n\n### Create\n\nIn the event of an\
    \ Activity being created, your URL would receive the following JSON:\n  ```http\n\
    \    {\n      \"data\":{\n        \"id\":152,\n        \"etag\":\"\\\"9a103be2201ae758992733a91f02903f\\\
    \"\"\n      },\n      \"meta\":{\n        \"event\":\"created\",\n        \"webhook_id\"\
    :1234\n      }\n    }\n  ```\n\n### Update\n\nIn the event of an Activity being\
    \ updated, your URL would receive the following JSON:\n  ```http\n    {\n    \
    \  \"data\":{\n        \"id\":152,\n        \"etag\":\"\\\"9d9ef9fb42a505976d90d564c1596f11\\\
    \"\"\n      },\n      \"meta\":{\n        \"event\":\"updated\",\n        \"webhook_id\"\
    :1234\n      }\n    }\n  ```\n\n### Delete\n\nIn the event of an Activity being\
    \ deleted, your URL would receive the following JSON:\n  ```http\n    {\n    \
    \  \"data\":{\n        \"id\":152,\n        \"etag\":\"\\\"3cc31bfbd6cfc16d3d7123423e437079\\\
    \"\"\n      },\n      \"meta\":{\n        \"event\":\"deleted\",\n        \"webhook_id\"\
    :1234\n      }\n    }\n  ```\n"
- name: Civil Certificated Rates
  description: 'This endpoint provides the Legal Aid civil certificated rates, which
    are the prescribed reimbursement rates for legal services provided under the Legal
    Aid Scheme.


    [Support Link](https://help.clio.com/hc/en-150/sections/9591010772379-Legal-Aid)

    '
- name: Civil Controlled Rates
  description: 'This endpoint provides the Legal Aid civil controlled rates, which
    are the prescribed reimbursement rates for legal services provided under the Legal
    Aid Scheme.


    [Support Link](https://help.clio.com/hc/en-150/sections/9591010772379-Legal-Aid)

    '
- name: Criminal Controlled Rates
  description: 'This endpoint provides the Legal Aid criminal controlled rates, which
    are the prescribed reimbursement rates for legal services provided under the Legal
    Aid Scheme.


    [Support Link](https://help.clio.com/hc/en-150/sections/9591010772379-Legal-Aid)

    '
- name: Expense Categories
  description: 'This endpoint provides the Legal Aid expense category rates, which
    are the prescribed reimbursement rates for legal services provided under the Legal
    Aid Scheme.


    [Support Link](https://help.clio.com/hc/en-150/sections/9591010772379-Legal-Aid)

    '
- name: Comments
  description: 'Comments are short text messages which can be associated with either
    Documents or Folders.


    If the Comment is created in association with a Document, it will also be associated
    with the Document''s latest Document Version.

    '
- name: Document Archives
  description: ''
- name: Documents
  description: "Clio Documents are files uploaded to Clio. Files uploaded to Clio\u2019\
    s document integrations (e.g. Google Drive and Office365) are inaccessible through\
    \ the API.\n\n[Support Link](https://help.clio.com/hc/en-us/articles/9290308200091-Generate-Manage-and-Share-Documents#create-upload-and-share-documents-in-clio-manage-0-3)\n\
    \n## Uploading a new document\n[Create a document](#operation/Document%23create)\
    \ to a parent that can refer to a `Matter` or a `Folder`. Ensure to ask for the\
    \ fields, `id` and `latest_document_version{uuid,put_url,put_headers}`. The `put_url`\
    \ is a signed URL with security credentials for uploading the document. The `put_headers`\
    \ are required request headers for uploading the document. Check out the example\
    \ to upload a new document to the matter folder of `Matter` with id `1`:\n```json\n\
    Request\n  POST api/v4/documents?fields=id,latest_document_version{uuid,put_url,put_headers}\n\
    \    \"data\": {\n      \"name\": \"file.jpg\",\n      \"parent\": {\n       \
    \ \"id\": 1,\n        \"type\": \"Matter\"\n      }\n    }\n\nResponse\n  {\n\
    \    \"data\": {\n      \"id\": 1234,\n      \"latest_document_version\": {\n\
    \        \"uuid\": \"a51faa2c-859e-4c08-a996-2d0bb385df90\",\n        \"put_url\"\
    : \"https://s3.us-west-2.amazonaws.com/iris-production/uploads/document_version/file/a51faa2c-859e-4c08-a996-2d0bb385df90/file.jpg?X-Amz-Expires=28800&X-Amz-Date=20171024T214532Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential={aws_access_key}/20171024/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=content-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=afe5000df0972d02884a2219f913bfa62fe2531c75b4fcd1edbcb84d267d2b8e\"\
    ,\n        \"put_headers\": [\n          {\n            \"name\": \"x-amz-server-side-encryption\"\
    ,\n            \"value\": \"AES256\"\n          },\n          {\n            \"\
    name\": \"Content-Type\",\n            \"value\": \"image/jpeg\"\n          }\n\
    \        ]\n      }\n    }\n  }\n```\nIf the extension is listed in the [IANA\
    \ Media Types registry](https://www.iana.org/assignments/media-types/media-types.xhtml)\
    \ Clio will apply the corresponding content type as determined by the file extension\
    \ when `content_type` is blank. One of the nine possible content types  `content_type`\
    \ = \u201Ctext\u201D / \u201Cimage\u201D / \u201Caudio\u201D / \u201Cvideo\u201D\
    \ / \u201Capplication\u201D / \u201Cfont\u201D / \u201Cmodel\u201D / \u201Cmessage\u201D\
    \ / \u201Cmultipart\u201D must be submitted if the file type is uncommon, not\
    \ listed in the [IANA Media Types registry](https://www.iana.org/assignments/media-types/media-types.xhtml)\
    \ or not obvious from the extension.\n\n### Upload the document\nUpload the document\
    \ to the `put_url` with the headers from `puts_headers` given in the response\
    \ of the previous step. Typically the headers include `Content-Type` and `x-amz-server-side-encryption`\
    \ to match with the signature in the `put_url`. Check out the example to upload\
    \ the file content using curl:\n```bash\ncurl -X PUT -T file.jpg\n  -H \"Content-Type:\
    \ image/jpeg\"\n  -H \"x-amz-server-side-encryption: AES256\"\n  \"https://s3.us-west-2.amazonaws.com/iris-production/uploads/document_version/file/a51faa2c-859e-4c08-a996-2d0bb385df90/file.jpg?X-Amz-Expires=28800&X-Amz-Date=20171024T214532Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential={aws_access_key}/20171024/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=content-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=afe5000df0972d02884a2219f913bfa62fe2531c75b4fcd1edbcb84d267d2b8e\"\
    \n```\nIf you need MD5 checksum, you should use multipart upload.\n\n### Mark\
    \ the document as fully-uploaded\nAfter successfully completing the upload, [mark\
    \ the document fully uploaded](#operation/Document%23update) with `fully_uploaded`\
    \ as `true`, and `uuid` given in the first step. Clio will verify if the file\
    \ is uploaded successfully. If not, it raises `UploadNotFoundError` error. It\
    \ is possible for the verification to time out, which will return an `UploadTimeoutError`\
    \ error. When that happens, you will need to retry the request.\n```json\nRequest\n\
    \  PATCH api/v4/documents/1234?fields=id,latest_document_version{fully_uploaded}\n\
    \    \"data\": {\n      \"uuid\": \"a51faa2c-859e-4c08-a996-2d0bb385df90\",\n\
    \      \"fully_uploaded\": \"true\"\n    }\n  }\n\nResponse (success)\n  {\n \
    \   \"data\": {\n      \"id\": 12345,\n      \"latest_document_version\": {\n\
    \          \"fully_uploaded\": true\n      }\n    }\n  }\nResponse (error)\n \
    \ {\n    \"error\": {\n      \"type\": \"UploadNotFoundError\",\n      \"message\"\
    : \"A matching remote file was not found for the file named file.jpg with UUID\
    \ a51faa2c-859e-4c08-a996-2d0bb385df90\"\n    }\n  }\nResponse (timeout)\n  {\n\
    \    \"error\": {\n      \"type\": \"UploadTimeoutError\",\n      \"message\"\
    : \"A timeout occurred verifying the remote file. Please try the request again.\"\
    \n    }\n  }\n```\nThe file is now visible in Clio documents and is available\
    \ to the user for download.\n\n## Uploading a new document version\nIt is same\
    \ as uploading a new document to Clio except setting the `parent` to an existing\
    \ `Document`. Check out the example to upload a new document version for the document\
    \ with id `1234`:\n```json\nRequest\n  POST api/v4/documents?fields=id,latest_document_version{uuid,put_url,put_headers}\n\
    \    \"data\": {\n      \"name\": \"file.jpg\",\n      \"parent\": {\n       \
    \ \"id\": 1234,\n        \"type\": \"Document\"\n      }\n    }\n  }\n```\nThe\
    \ remaining steps are same as uploading a new document to Clio.\n\n## Uploading\
    \ a document using multipart upload\nIn general, when a file reaches 100 MB, you\
    \ should consider using multipart upload instead of uploading in a single operation.\
    \ Except the last part, each part should be at least 5 MB. Determine the number\
    \ of file parts and split the file. Optionally, you may compute the base64-encoded\
    \ 128-bit MD5 mechanism as an end-to-end integrity check for each file part. To\
    \ determine the base64 MD5 checksum for a file part, you may use `openssl`. Check\
    \ out the example to split a big pdf and get the checksums of the file parts:\n\
    ```bash\nsplit -b 31457280 big.pdf big.pdf.        # break the file to max. 30MB\
    \ size\nopenssl md5 -binary big.pdf.aa | base64   # F16pda4G0h4lzH7d2/Jbdw==\n\
    openssl md5 -binary big.pdf.ab | base64   # cRbxEG//GK9rIze5tdYzcg==\nopenssl\
    \ md5 -binary big.pdf.ac | base64   # Tck0KKU4SrmSp8hsSCuSYg==\nopenssl md5 -binary\
    \ big.pdf.ad | base64   # CrIt7lbZzVhMV7JzVTkUvw==\n```\n### Create the document\n\
    [Create a document](#operation/Document%23create), specify `multiparts` for multipart\
    \ upload, and ensure to ask for the fields, `id`, and `latest_document_version{uuid,multiparts}`.\
    \ A `multipart` consists of `part_number`, `content_length`, and optional `content_md5`.\
    \ In the response, a `put_url` is appended to the `multipart`. A `put_url` is\
    \ a signed URL with security credentials for uploading a file part. The signed\
    \ URL expires in 8 hours. The API can handle maximum 50 `multiparts` in one request.\
    \ If the upload is split to more than 50 parts, [make a PUT request](#operation/Document%23update)\
    \ with `uuid`, `fully_uploaded` as `false`, and another set of `multiparts`. It\
    \ returns a set of `put_url` for the specified `multiparts`. Check out the example\
    \ to upload a new document to the matter folder of `Matter` with id `1`:\n```json\n\
    Request\n  POST api/v4/documents?fields=id,latest_document_version{uuid,put_headers,multiparts}\n\
    \    \"data\": {\n      \"name\": \"big.pdf\",\n      \"parent\": {\n        \"\
    id\": 1,\n        \"type\": \"Matter\"\n      }\n      \"multiparts\": [\n   \
    \     {\n          \"part_number\": 1,\n          \"content_length\": 31457280,\n\
    \          \"content_md5\": \"F16pda4G0h4lzH7d2/Jbdw==\"\n        },\n       \
    \ {\n          \"part_number\": 2,\n          \"content_length\": 31457280,\n\
    \          \"content_md5\": \"cRbxEG//GK9rIze5tdYzcg==\"\n        },\n       \
    \ {\n          \"part_number\": 3,\n          \"content_length\": 31457280,\n\
    \          \"content_md5\": \"Tck0KKU4SrmSp8hsSCuSYg==\"\n        },\n       \
    \ {\n          \"part_number\": 4,\n          \"content_length\": 7316647,\n \
    \         \"content_md5\": \"CrIt7lbZzVhMV7JzVTkUvw==\"\n        }\n      ]\n\
    \    }\n\nResponse\n  {\n    \"data\": {\n      \"id\": 1234,\n      \"latest_document_version\"\
    : {\n        \"uuid\": \"eba78724-31e8-4529-b6e2-0f2eef6feeec\",\n        \"put_headers\"\
    : [\n            {\n                \"name\": \"x-amz-server-side-encryption\"\
    ,\n                \"value\": \"AES256\"\n            },\n            {\n    \
    \            \"name\": \"Content-Type\",\n                \"value\": \"application/pdf\"\
    \n            }\n          ],\n        \"multiparts\": [\n          {\n      \
    \      \"part_number\": 1,\n            \"put_url\": \"https://s3.us-west-2.amazonaws.com/iris-production/uploads/document_version/file/eba78724-31e8-4529-b6e2-0f2eef6feeec/big.pdf?uploadId=XG9arnSRfpXVFj4NYCoj66e.iUtET050CFds7GGwb4_J6J26Ysgn_fLCK7pI5KRzJRmBOB_Oa.dle.nn4JLKos_cdRXN6f6Hb0IACkgiN6Wa2XGNv9fZQwgfqmMey1DN&partNumber=1&X-Amz-Expires=28800&X-Amz-Date=20171024T231538Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential={aws_access_token}/20171024/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bhost&X-Amz-Signature=f7b3f29e4aee3abfa93fb42a7969557a2a0d305d223dde641c78421b5a6d62e0\"\
    ,\n            \"put_headers\": [\n              {\n                  \"name\"\
    : \"Content-Length\",\n                  \"value\": \"31457280\"\n           \
    \   },\n              {\n                  \"name\": \"Content-MD5\",\n      \
    \            \"value\": \"F16pda4G0h4lzH7d2/Jbdw==\"\n              }\n      \
    \      ]\n          },\n          {\n            \"part_number\": 2,\n       \
    \     \"put_url\": \"https://s3.us-west-2.amazonaws.com/iris-production/uploads/document_version/file/eba78724-31e8-4529-b6e2-0f2eef6feeec/big.pdf?uploadId=XG9arnSRfpXVFj4NYCoj66e.iUtET050CFds7GGwb4_J6J26Ysgn_fLCK7pI5KRzJRmBOB_Oa.dle.nn4JLKos_cdRXN6f6Hb0IACkgiN6Wa2XGNv9fZQwgfqmMey1DN&partNumber=2&X-Amz-Expires=28800&X-Amz-Date=20171024T231538Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential={aws_access_token}/20171024/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bhost&X-Amz-Signature=47dc30f90202654c13030ccce87e43622bb47e0ad155ae61f6b41e8097803950\"\
    ,\n            \"put_headers\": [\n              {\n                  \"name\"\
    : \"Content-Length\",\n                  \"value\": \"31457280\"\n           \
    \   },\n              {\n                  \"name\": \"Content-MD5\",\n      \
    \            \"value\": \"cRbxEG//GK9rIze5tdYzcg==\"\n              }\n      \
    \      ]\n          },\n          {\n            \"part_number\": 3,\n       \
    \     \"put_url\": \"https://s3.us-west-2.amazonaws.com/iris-production/uploads/document_version/file/eba78724-31e8-4529-b6e2-0f2eef6feeec/big.pdf?uploadId=XG9arnSRfpXVFj4NYCoj66e.iUtET050CFds7GGwb4_J6J26Ysgn_fLCK7pI5KRzJRmBOB_Oa.dle.nn4JLKos_cdRXN6f6Hb0IACkgiN6Wa2XGNv9fZQwgfqmMey1DN&partNumber=3&X-Amz-Expires=28800&X-Amz-Date=20171024T231538Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential={aws_access_token}/20171024/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bhost&X-Amz-Signature=13ca827a73fb2c50e8062ef7e437cfe9158944d998e2770a2ffcd034be6c2fc7\"\
    ,\n            \"put_headers\": [\n              {\n                  \"name\"\
    : \"Content-Length\",\n                  \"value\": \"31457280\"\n           \
    \   },\n              {\n                  \"name\": \"Content-MD5\",\n      \
    \            \"value\": \"Tck0KKU4SrmSp8hsSCuSYg==\"\n              }\n      \
    \      ]\n          },\n          {\n            \"part_number\": 4,\n       \
    \     \"put_url\": \"https://s3.us-west-2.amazonaws.com/iris-production/uploads/document_version/file/eba78724-31e8-4529-b6e2-0f2eef6feeec/big.pdf?uploadId=XG9arnSRfpXVFj4NYCoj66e.iUtET050CFds7GGwb4_J6J26Ysgn_fLCK7pI5KRzJRmBOB_Oa.dle.nn4JLKos_cdRXN6f6Hb0IACkgiN6Wa2XGNv9fZQwgfqmMey1DN&partNumber=4&X-Amz-Expires=28800&X-Amz-Date=20171024T231538Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential={aws_access_token}/20171024/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bhost&X-Amz-Signature=25773f971c4c663b3a87f4d35c5b4c5192c3c999c7efdd69a49bc5bc40677078\"\
    ,\n            \"put_headers\": [\n              {\n                  \"name\"\
    : \"Content-Length\",\n                  \"value\": \"7316647\"\n            \
    \  },\n              {\n                  \"name\": \"Content-MD5\",\n       \
    \           \"value\": \"CrIt7lbZzVhMV7JzVTkUvw==\"\n              }\n       \
    \     ]\n          }\n        ]\n      }\n    }\n  }\n```\n\n### Upload the document\n\
    Upload each multipart to the corresponding `put_url`. You can upload the parts\
    \ independently and in any order. If transmission of any part fails, you can re-transmit\
    \ that part without affecting other parts. Make sure to include the headers from\
    \ `puts_headers`. Typically the headers include `Content-Length`, to match with\
    \ the signature in the `put_url`. Check out the example using curl:\n```bash\n\
    curl -X PUT -T big.pdf.part1\n  -H \"Content-Length: 31457280\"\n  \"https://s3.us-west-2.amazonaws.com/iris-production/uploads/document_version/file/eba78724-31e8-4529-b6e2-0f2eef6feeec/big.pdf?uploadId=XG9arnSRfpXVFj4NYCoj66e.iUtET050CFds7GGwb4_J6J26Ysgn_fLCK7pI5KRzJRmBOB_Oa.dle.nn4JLKos_cdRXN6f6Hb0IACkgiN6Wa2XGNv9fZQwgfqmMey1DN&partNumber=1&X-Amz-Expires=28800&X-Amz-Date=20171024T231538Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential={aws_access_token}/20171024/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bhost&X-Amz-Signature=f7b3f29e4aee3abfa93fb42a7969557a2a0d305d223dde641c78421b5a6d62e0\"\
    \n```\nIf you use MD5 checksum to validate the integrity of upload, include `Content-MD5`\
    \ in the header:\n```bash\ncurl -X PUT -T big.pdf.part1\n  -H \"Content-Length:\
    \ 31457280\"\n  -H \"Content-MD5: F16pda4G0h4lzH7d2/Jbdw==\"\n  \"https://s3.us-west-2.amazonaws.com/iris-production/uploads/document_version/file/eba78724-31e8-4529-b6e2-0f2eef6feeec/big.pdf?uploadId=XG9arnSRfpXVFj4NYCoj66e.iUtET050CFds7GGwb4_J6J26Ysgn_fLCK7pI5KRzJRmBOB_Oa.dle.nn4JLKos_cdRXN6f6Hb0IACkgiN6Wa2XGNv9fZQwgfqmMey1DN&partNumber=1&X-Amz-Expires=28800&X-Amz-Date=20171024T231538Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential={aws_access_token}/20171024/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bhost&X-Amz-Signature=f7b3f29e4aee3abfa93fb42a7969557a2a0d305d223dde641c78421b5a6d62e0\"\
    \n```\nIf the file is invalid or the MD5 is invalid, you may get the following\
    \ response:\n```bash\n<Error>\n  <Code>BadDigest</Code>\n  <Message>The Content-MD5\
    \ you specified did not match what we received.</Message>\n  <ExpectedDigest>F16pda4G0h4lzH7d2/Jbdw==</ExpectedDigest>\n\
    \  <CalculatedDigest>Tck0KKU4SrmSp8hsSCuSYg==</CalculatedDigest>\n  <RequestId>85918626116672DD</RequestId>\n\
    \  <HostId>AbAoiqYqn8tKwS6gxwI3pc4u02B6u6ORa6MPEJH7IYljBweZp0M8L7Lg2AFOvHxdHz5TwlQpkVs=</HostId>\n\
    </Error>\n```\nAfter the issue is corrected, try to upload to the file part to\
    \ the `put_url` again.\n\n### Mark the document as fully-uploaded\nAfter successfully\
    \ completing the upload of all the file parts, [mark the document fully uploaded](#operation/Document%23update)\
    \ with `fully_uploaded` as `true`, and `uuid` given in the first step. Clio will\
    \ verify if the file is uploaded successfully. If not, it raises `UploadNotFoundError`\
    \ error. It is possible for the verification to time out, which will return an\
    \ `UploadTimeoutError` error. When that happens, you will need to retry the request.\n\
    ```json\nRequest\n  PATCH api/v4/documents/1234?fields=id,latest_document_version{fully_uploaded}\n\
    \    \"data\": {\n      \"uuid\": \"eba78724-31e8-4529-b6e2-0f2eef6feeec\",\n\
    \      \"fully_uploaded\": \"true\"\n    }\n  }\n\nResponse (success)\n  {\n \
    \   \"data\": {\n      \"id\": 12345,\n      \"latest_document_version\": {\n\
    \          \"fully_uploaded\": true\n      }\n    }\n  }\nResponse (error)\n \
    \ {\n    \"error\": {\n      \"type\": \"UploadNotFoundError\",\n      \"message\"\
    : \"A matching remote file was not found for the file named file.jpg with UUID\
    \ a51faa2c-859e-4c08-a996-2d0bb385df90\"\n    }\n  }\nResponse (timeout)\n  {\n\
    \    \"error\": {\n      \"type\": \"UploadTimeoutError\",\n      \"message\"\
    : \"A timeout occurred verifying the remote file. Please try the request again.\"\
    \n    }\n  }\n```\nThe file is now visible in Clio documents and is available\
    \ to the user for download.\n\n## Uploading a new document version using multipart\
    \ upload\nIt is same as splitting and uploading a new document using multipart\
    \ upload, except setting the `parent` to an existing `Document`. Check out the\
    \ example to upload a new document version for the document with id `1234`:\n\
    ```bash\nRequest\n  POST api/v4/documents?fields=id,latest_document_version{uuid,put_headers,multiparts}\n\
    \    \"data\": {\n      \"name\": \"big.pdf\",\n      \"parent\": {\n        \"\
    id\": 1234,\n        \"type\": \"Document\"\n      }\n      \"multiparts\": [\n\
    \        {\n          \"part_number\": 1,\n          \"content_length\": 31457280,\n\
    \          \"content_md5\": \"F16pda4G0h4lzH7d2/Jbdw==\"\n        },\n       \
    \ {\n          \"part_number\": 2,\n          \"content_length\": 31457280,\n\
    \          \"content_md5\": \"cRbxEG//GK9rIze5tdYzcg==\"\n        },\n       \
    \ {\n          \"part_number\": 3,\n          \"content_length\": 31457280,\n\
    \          \"content_md5\": \"Tck0KKU4SrmSp8hsSCuSYg==\"\n        },\n       \
    \ {\n          \"part_number\": 4,\n          \"content_length\": 7316647,\n \
    \         \"content_md5\": \"CrIt7lbZzVhMV7JzVTkUvw==\"\n        }\n      ]\n\
    \    }\n```\nThe remaining steps are same as uploading a new document to Clio.\n"
- name: Document Versions
  description: 'Versions contain information about the version history of a document.
    Versioning allows users to track changes made to a document over time.


    [Support Link](https://help.clio.com/hc/en-us/articles/9290308200091-Generate-Manage-and-Share-Documents#manage-documents-in-clio-manage-0-4)

    '
- name: Document Automations
  description: "Document Automation uses Document Templates to create standardized\
    \ documents. Users select a Document Template (that they have created and uploaded)\
    \ and a Matter to automatically create a document using information from that\
    \ Matter (such as addresses, account balances, Matter names, etc.).\n\nDocuments\
    \ made from templates are created using Nintex, an authorized Clio sub-processor.\
    \ For further information, please refer to Clio\u2019s Privacy Policy and Terms\
    \ of Service.\n\n[Support Link](https://help.clio.com/hc/en-us/articles/9290238939163-Document-Templates#create-document-templates-in-clio-manage-0-4)\n"
- name: Document Categories
  description: "Clio users can add Document Categories to their account to help organize\
    \ their Documents. When a Document is uploaded or edited, a Document Category\
    \ can be assigned. Users can filter by Document Category to show all Documents\
    \ in a certain category across all of the account\u2019s Matters.\n\n[Support\
    \ Link](https://help.clio.com/hc/en-us/articles/9290308200091-Generate-Manage-and-Share-Documents#document-categories-in-clio-manage-0-2)\n\
    \n[Document Categories in Clio](http://app.clio.com/document_categories)\n"
- name: Document Templates
  description: "Document Templates are files used to create standardized documents\
    \ using Clio\u2019s Document Automation feature. Document Templates contain merge\
    \ fields, which are used to pull information from Clio into the document being\
    \ generated by Document Automation.\n\nThe supported formats are doc, docx, ppt,\
    \ pptx, xls, xlsx, pdf and xml.\n\n[Support Link](https://help.clio.com/hc/en-us/articles/9290238939163-Document-Templates#create-document-templates-in-clio-manage-0-4)\n"
- name: Folders
  description: "Files stored in Clio\u2019s Documents section are organized in folders.\
    \ Folders are automatically generated for new Contacts and Matters. Folders can\
    \ also be manually created anywhere in the folder structure.\n\n[Support Link](https://help.clio.com/hc/en-us/articles/9290308200091-Generate-Manage-and-Share-Documents#manage-documents-in-clio-manage-0-4)\n"
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
paths:
  get:
    tags:
    - Activity Rates
    summary: Return the data for a single ActivityRate
    operationId: get
    description: Outlines the parameters, optional and required, used when requesting
      the data for a single ActivityRate
    parameters:
    - $ref: ./components/parameters/IF-MODIFIED-SINCE.yaml
    - $ref: ./components/parameters/IF-NONE-MATCH.yaml
    - $ref: ./components/parameters/X-API-VERSION.yaml
    - $ref: ./components/parameters/fields.yaml
    - $ref: ./components/parameters/id.yaml
    responses:
      '200':
        $ref: ./components/responses.yaml#/components/responses/200_Ok
        content:
          application/json:
            schema:
              $ref: ../components/schemas/Timer.yaml
      '304':
        $ref: ./components/responses.yaml#/components/responses/304_Not_Modified
      '400':
        $ref: ./components/responses.yaml#/components/responses/400_Bad_Request
      '401':
        $ref: ./components/responses.yaml#/components/responses/401_Unauthorized
      '403':
        $ref: ./components/responses.yaml#/components/responses/403_Forbidden
      '404':
        $ref: ./components/responses.yaml#/components/responses/404_Not_Found
      '429':
        $ref: ./components/responses.yaml#/components/responses/429_Too_Many_Requests
      '303':
        $ref: ./components/responses.yaml#/components/responses/303_See_Other
  patch:
    tags:
    - Activity Rates
    summary: Update a single ActivityRate
    operationId: update
    description: Outlines the parameters and data fields used when updating a single
      ActivityRate
    parameters:
    - $ref: ./components/parameters/IF-MATCH.yaml
    - $ref: ./components/parameters/X-API-VERSION.yaml
    - $ref: ./components/parameters/fields.yaml
    - $ref: ./components/parameters/id.yaml
    responses:
      '200':
        $ref: ./components/responses.yaml#/components/responses/200_Ok
      '400':
        $ref: ./components/responses.yaml#/components/responses/400_Bad_Request
      '401':
        $ref: ./components/responses.yaml#/components/responses/401_Unauthorized
      '403':
        $ref: ./components/responses.yaml#/components/responses/403_Forbidden
      '404':
        $ref: ./components/responses.yaml#/components/responses/404_Not_Found
      '412':
        $ref: ./components/responses.yaml#/components/responses/412_Precondition_Failed
      '422':
        $ref: ./components/responses.yaml#/components/responses/422_Unprocessable_Entity
      '429':
        $ref: ./components/responses.yaml#/components/responses/429_Too_Many_Requests
    requestBody:
      $ref: ./components/requestBodies.yaml#/components/requestBodies/ReqBody_733a3b9d
  delete:
    tags:
    - Activity Rates
    summary: Delete a single ActivityRate
    operationId: delete
    description: Outlines the parameters, optional and required, used when deleting
      the record for a single ActivityRate
    parameters:
    - $ref: ./components/parameters/X-API-VERSION.yaml
    - $ref: ./components/parameters/id.yaml
    responses:
      '204':
        $ref: ./components/responses.yaml#/components/responses/204_No_Content
        content:
          application/json:
            schema:
              $ref: ../components/schemas/Timer.yaml
      '403':
        $ref: ./components/responses.yaml#/components/responses/403_Forbidden
      '400':
        $ref: ./components/responses.yaml#/components/responses/400_Bad_Request
      '409':
        $ref: ./components/responses.yaml#/components/responses/409_Conflict
      '200':
        $ref: ./components/responses.yaml#/components/responses/200_Ok
      '401':
        $ref: ./components/responses.yaml#/components/responses/401_Unauthorized
      '404':
        $ref: ./components/responses.yaml#/components/responses/404_Not_Found
      '412':
        $ref: ./components/responses.yaml#/components/responses/412_Precondition_Failed
      '422':
        $ref: ./components/responses.yaml#/components/responses/422_Unprocessable_Entity
      '429':
        $ref: ./components/responses.yaml#/components/responses/429_Too_Many_Requests
    requestBody:
      $ref: ./components/requestBodies.yaml#/components/requestBodies/ReqBody_358e826e
  post:
    tags:
    - Relationships
    summary: Create a new Relationship
    operationId: createRelationship
    description: Outlines the parameters and data fields used when creating a new
      Relationship
    parameters:
    - $ref: ./components/parameters/X-API-VERSION.yaml
    - $ref: ./components/parameters/fields.yaml
    responses:
      '201':
        $ref: ./components/responses.yaml#/components/responses/201_Created
        content:
          application/json:
            schema:
              $ref: ../components/schemas/Timer.yaml
      '400':
        $ref: ./components/responses.yaml#/components/responses/400_Bad_Request
      '401':
        $ref: ./components/responses.yaml#/components/responses/401_Unauthorized
      '403':
        $ref: ./components/responses.yaml#/components/responses/403_Forbidden
      '404':
        $ref: ./components/responses.yaml#/components/responses/404_Not_Found
      '422':
        $ref: ./components/responses.yaml#/components/responses/422_Unprocessable_Entity
      '429':
        $ref: ./components/responses.yaml#/components/responses/429_Too_Many_Requests
    requestBody:
      $ref: ./components/requestBodies.yaml#/components/requestBodies/ReqBody_79aa19a8
  /post:
    tags:
    - Relationships
    summary: Create a new Relationship
    operationId: createRelationship
    description: Outlines the parameters and data fields used when creating a new
      Relationship
    parameters:
    - $ref: ./components/parameters/X-API-VERSION.yaml
    - $ref: ./components/parameters/fields.yaml
    responses:
      '201':
        $ref: ./components/responses.yaml
      '400':
        $ref: ./components/responses.yaml
      '401':
        $ref: ./components/responses.yaml
      '403':
        $ref: ./components/responses.yaml
      '404':
        $ref: ./components/responses.yaml
      '422':
        $ref: ./components/responses.yaml
      '429':
        $ref: ./components/responses.yaml
    requestBody:
      $ref: ./components/requestBodies.yaml
  /delete:
    tags:
    - Activity Rates
    summary: Delete a single ActivityRate
    operationId: delete
    description: Outlines the parameters, optional and required, used when deleting
      the record for a single ActivityRate
    parameters:
    - $ref: ./components/parameters/X-API-VERSION.yaml
    - $ref: ./components/parameters/id.yaml
    responses:
      '200':
        $ref: ./components/responses.yaml
      '204':
        $ref: ./components/responses.yaml
      '400':
        $ref: ./components/responses.yaml
      '401':
        $ref: ./components/responses.yaml
      '403':
        $ref: ./components/responses.yaml
      '404':
        $ref: ./components/responses.yaml
      '409':
        $ref: ./components/responses.yaml
      '412':
        $ref: ./components/responses.yaml
      '422':
        $ref: ./components/responses.yaml
      '429':
        $ref: ./components/responses.yaml
    requestBody:
      $ref: ./components/requestBodies.yaml
  /get:
    tags:
    - Activity Rates
    summary: Return the data for a single ActivityRate
    operationId: get
    description: Outlines the parameters, optional and required, used when requesting
      the data for a single ActivityRate
    parameters:
    - $ref: ./components/parameters/IF-MODIFIED-SINCE.yaml
    - $ref: ./components/parameters/IF-NONE-MATCH.yaml
    - $ref: ./components/parameters/X-API-VERSION.yaml
    - $ref: ./components/parameters/fields.yaml
    - $ref: ./components/parameters/id.yaml
    responses:
      '200':
        $ref: ./components/responses.yaml
      '303':
        $ref: ./components/responses.yaml
      '304':
        $ref: ./components/responses.yaml
      '400':
        $ref: ./components/responses.yaml
      '401':
        $ref: ./components/responses.yaml
      '403':
        $ref: ./components/responses.yaml
      '404':
        $ref: ./components/responses.yaml
      '429':
        $ref: ./components/responses.yaml
  /patch:
    tags:
    - Activity Rates
    summary: Update a single ActivityRate
    operationId: update
    description: Outlines the parameters and data fields used when updating a single
      ActivityRate
    parameters:
    - $ref: ./components/parameters/IF-MATCH.yaml
    - $ref: ./components/parameters/X-API-VERSION.yaml
    - $ref: ./components/parameters/fields.yaml
    - $ref: ./components/parameters/id.yaml
    responses:
      '200':
        $ref: ./components/responses.yaml
      '400':
        $ref: ./components/responses.yaml
      '401':
        $ref: ./components/responses.yaml
      '403':
        $ref: ./components/responses.yaml
      '404':
        $ref: ./components/responses.yaml
      '412':
        $ref: ./components/responses.yaml
      '422':
        $ref: ./components/responses.yaml
      '429':
        $ref: ./components/responses.yaml
    requestBody:
      $ref: ./components/requestBodies.yaml
components:
  schemas:
    MatterStage:
      allOf:
      - $ref: ./MatterStageBase.yaml
      - type: object
        properties: {}
    ActivityList:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Activity List Response
          items:
            $ref: ./Activity.yaml
    LineItemTotalsBase:
      type: object
      properties:
        quantity:
          type: number
          format: double
          description: Sum of quantity for included line items.
        price:
          type: number
          format: double
          description: Sum of price for included line items.
        discount_percent:
          type: number
          format: double
          description: Sum of discount as percentage for included line items.
        total:
          type: number
          format: double
          description: Sum of total for included line items.
        sub_total:
          type: number
          format: double
          description: Sum of total before discount and tax is applied.
    CustomFieldMatterSelection:
      allOf:
      - $ref: ./CustomFieldMatterSelectionBase.yaml
      - type: object
        properties: {}
    CreditMemo:
      type: object
      required:
      - data
      properties:
        data:
          $ref: ./CreditMemo.yaml
    CalendarEntryList:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: CalendarEntry List Response
          items:
            $ref: ./CalendarEntry.yaml
    ConversationBase:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Conversation*
        etag:
          type: string
          description: ETag for the *Conversation*
        archived:
          type: boolean
          description: Whether the conversation has been archived
        read_only:
          type: boolean
          description: Whether the conversation is read only
        current_user_is_member:
          type: boolean
          description: Whether the current user is a member of this conversation
        subject:
          type: string
          description: The subject of the *Conversation*
        message_count:
          type: integer
          format: int64
          description: The number of messages in this conversation
        time_entries_count:
          type: integer
          format: int64
          description: The number of time entries applied to this conversation
        read:
          type: boolean
          description: Whether any messages in this conversation have been viewed
        created_at:
          type: string
          format: date-time
          description: The time the *Conversation* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Conversation* was last updated (as a ISO-8601
            timestamp)
    Webhook:
      type: object
      required:
      - data
      properties:
        data:
          $ref: ./Webhook.yaml
    AllocationList:
      type: object
      required:
      - data
      properties:
        data:
[...]
