from clio_sdk.models import {{ resource_pascal }}UpdateRequest, {{ resource_pascal }}UpdateRequestData
from clio_sdk.models import {{ resource_pascal }}UpdateRequestDataCustomFieldValuesInner
from clio_sdk.models import {{ resource_pascal }}UpdateRequestDataRelationshipsInnerContact as {{ resource_pascal }}UpdateRequestDataResponsibleStaff
from clio_sdk.models import {{ resource_pascal }}UpdateRequestDataStatuteOfLimitations

from clio_sdk.unified_models.{{ tag|snakecase }} import {{ resource_pascal }}UpdateInputModel


def build_{{ resource_snake }}_update_request(input: {{ resource_pascal }}UpdateInputModel) -> {{ resource_pascal }}UpdateRequest:
    data_kwargs = {
        "description": input.description,
        "status": input.status,
        "close_date": input.close_date,
        "open_date": input.open_date,
    }

    if input.responsible_staff:
        data_kwargs["responsible_staff"] = {{ resource_pascal }}UpdateRequestDataResponsibleStaff(
            id=input.responsible_staff.id
        )

    if input.practice_area:
        data_kwargs["practice_area"] = {"id": input.practice_area.id}

    if input.group:
        data_kwargs["group"] = {"id": input.group.id}

    if input.statute_of_limitations:
        data_kwargs["statute_of_limitations"] = (
            {{ resource_pascal }}UpdateRequestDataStatuteOfLimitations(
                due_at=input.statute_of_limitations.due_at
            )
        )

    if input.custom_field_values:
        cf_values = []
        for cf in input.custom_field_values:
            kwargs = {"id": cf.id, "value": cf.value}
            if cf.custom_field:
                kwargs["custom_field"] = cf.custom_field
            cf_values.append({{ resource_pascal }}UpdateRequestDataCustomFieldValuesInner(**kwargs))
        data_kwargs["custom_field_values"] = cf_values

    return {{ resource_pascal }}UpdateRequest(data={{ resource_pascal }}UpdateRequestData(**data_kwargs))
