
from .{{ tag_snake }}_api import {{ classname }}Api
from .models import *
from .{{ tag_snake }}_service import {{ classname }}Service

class {{ classname }}ServiceImpl({{ classname }}Service):
    def __init__(self, api: {{ classname }}Api):
        self.api = api

    {% for op in operations %}
    async def {{ op.operation_id | lower }}(
        self{% if op.request_body %}, data: {{ op.request_model|default('Any') }}{% endif %}{% for param in op.parameters %}, {{ param.name }}: {{ param.type|default('str') }}{% endfor %}
    ) -> {{ op.response_model|default('Any') }}:
        return await self.api.{{ op.operation_id | lower }}(
            {% if op.request_body %}data=data{% endif %}
            {% if op.request_body and op.parameters %}, {% endif %}
            {% for param in op.parameters %}{{ param.name }}={{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %}
        )
    {% endfor %}
