from sqlalchemy import Column, {{ columns_imports|join(', ') }}
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class {{ class_name }}(Base):
    __tablename__ = "{{ table_name }}"
    {% for col in columns %}
    {{ col.name }} = Column({{ col.type }}{% if col.primary_key %}, primary_key=True{% endif %}{% if col.nullable is not none %}, nullable={{ col.nullable }}{% endif %})
    {% endfor %}